* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  border-style: none;
  font-family: 'Raleway', apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
}

.form__section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__label {
  font-size: 0.9rem;
}

.form__input {
  width: 15px;
  height: 15px;
}

.btn {
  width: 60px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: inherit;
}

.btn:active {
  transform: scale(0.95);
}

.input:hover,
.btn:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
